html,
body {
    /* background-image: url(../img/bg.jpg); */
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    background-size:cover;
}

.bg{
    position: relative;
}

a {
    color: #fff;
}

.footer {
    width: 100%;
    min-width: 100%;
    clear: both;
    line-height: 1.5;
    border-top: 1px solid #e8eaec;
    background: #f5f7f9;
    text-align: center;
    padding: 10px;
    color: #515a6e;
    position: fixed;
    bottom: 0;
}

.footer a {
    color: #515a6e;
}

.buttons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.next {
    font-size: 2.5vw;
    line-height: 1.5;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    position: relative;
}

.next .title {
    color: yellow;
}

.el-select {
    width: 120px;
    margin-right: 10px;
}

.batch {
    position: absolute;
    width: 50%;
    top: 40%;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lucky-dog {
    display: inline-block;
    font-size: 5vw;
    text-align: center;
    min-width: 250px;
    background: #fff;
    line-height: 60px;
    color: #000;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    padding: 5px 0;
}


